In [1]:
import folium
import pandas as pd
import json

In [2]:
data = pd.read_csv('/Users/briankalinowski/projects/mapping/worldcitiespop.csv')

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

  Country        City  AccentCity Region  Population   Latitude  Longitude
0      ad       aixas       Aix�s      6         NaN  42.483333   1.466667
1      ad  aixirivali  Aixirivali      6         NaN  42.466667   1.500000
2      ad  aixirivall  Aixirivall      6         NaN  42.466667   1.500000
3      ad   aixirvall   Aixirvall      6         NaN  42.466667   1.500000
4      ad    aixovall    Aixovall      6         NaN  42.466667   1.483333

In [4]:
data.shape

(3173958, 7)

In [5]:
pop_data = data.dropna()

In [6]:
pop_data.head()

,Country,City,AccentCity,Region,Population,Latitude,Longitude
6,ad,andorra la vella,Andorra la Vella,7,20430.0,42.500000,1.516667
20,ad,canillo,Canillo,2,3292.0,42.566667,1.600000
32,ad,encamp,Encamp,3,11224.0,42.533333,1.583333
49,ad,la massana,La Massana,4,7211.0,42.550000,1.516667
53,ad,les escaldes,Les Escaldes,8,15854.0,42.500000,1.533333

In [7]:
pop_data.Longitude.min()

-179.5

In [8]:
pop_data.Longitude.max()

179.316667

In [9]:
pop_data.shape

(47979, 7)

In [10]:
pop_data.Country.value_counts()[0:25]

ru    4324
us    4175
ph    3752
in    2995
ro    2755
br    2017
mx    1687
de    1478
it    1118
gr    1084
co    1036
fr     863
gb     861
hu     836
ua     826
jp     755
cn     748
ca     721
cz     618
no     577
hn     509
be     503
es     488
pt     427
pl     426
Name: Country, dtype: int64

In [11]:
pop_data.Region.value_counts()[0:25]

2.0     1129
8.0      945
16.0     914
1.0      897
7.0      880
5.0      870
4.0      858
02       846
04       779
9.0      776
15.0     771
01       748
6.0      681
03       677
10.0     648
13.0     641
05       631
00       621
3.0      603
36.0     601
11.0     588
12.0     550
06       535
07       535
08       526
Name: Region, dtype: int64

In [12]:
pop_data.Population.min()

7.0

In [13]:
pop_data[pop_data['Population'] == pop_data.Population.max()]

        Country   City AccentCity Region  Population  Latitude   Longitude
1544449      jp  tokyo      Tokyo     40  31480498.0    35.685  139.751389

In [14]:
pop_data[pop_data['Population'] == pop_data.Population.min()]

,Country,City,AccentCity,Region,Population,Latitude,Longitude
1028303,gl,neriunaq,Neriunaq,03,7.0,64.466667,-50.316667
1028477,gl,tasiusaq,Tasiusaq,03,7.0,73.366667,-56.050000
1028486,gl,timerliit,Timerliit,03,7.0,65.833333,-53.250000
2360929,ru,aliskerovo,Aliskerovo,15,7.0,67.766667,167.583333

In [15]:
pop_data.dtypes

Country        object
City           object
AccentCity     object
Region         object
Population    float64
Latitude      float64
Longitude     float64
dtype: object

In [18]:
pop_usa = pop_data.query('Country == ["us"]')

In [19]:
pop_usa.head()

,Country,City,AccentCity,Region,Population,Latitude,Longitude
2907755,us,alabaster,Alabaster,AL,26738.0,33.244167,-86.816389
2907759,us,albertville,Albertville,AL,18368.0,34.267500,-86.208889
2907765,us,alexander city,Alexander City,AL,14993.0,32.943889,-85.953889
2907804,us,anniston,Anniston,AL,23423.0,33.659722,-85.831667
2907848,us,athens,Athens,AL,20470.0,34.802778,-86.971667

In [20]:
pop_usa.shape

(4175, 7)

In [23]:
pop_usa.Population.min()

216.0

In [25]:
pop_usa.Population.max()

8107916.0

In [27]:
pop_canada = pop_data.query('Country == ["ca"]')

In [29]:
pop_canada.head(50)

,Country,City,AccentCity,Region,Population,Latitude,Longitude
346347,ca,abbotsford,Abbotsford,2,151685.0,49.050000,-122.300000
346357,ca,acton,Acton,8,8204.0,43.633333,-80.033333
346358,ca,acton vale,Acton Vale,10,5135.0,45.633333,-72.566667
346369,ca,airdrie,Airdrie,1,24673.0,51.266667,-114.016667
346374,ca,aklavik,Aklavik,13,648.0,68.216667,-135.000000
346377,ca,albanel,Albanel,10,1087.0,48.866667,-72.416667
346384,ca,alberton,Alberton,9,1147.0,46.800000,-64.066667
346389,ca,aldergrove,Aldergrove,2,11963.0,49.060000,-122.460000
346398,ca,alexandria,Alexandria,8,3559.0,45.300000,-74.633333
346402,ca,alfred,Alfred,8,1424.0,45.550000,-74.866667
346414,ca,alliston,Alliston,8,10224.0,44.150000,-79.866667
346417,ca,alma,Alma,10,29527.0,48.550000,-71.650000
346419,ca,almonte,Almonte,8,4921.0,45.216667,-76.200000
346426,ca,altona,Altona,3,3613.0,49.100000,-97.566667
346434,ca,amherst,Amherst,7,9336.0,45.833333,-64.200000
346435,ca,amherstburg,Amherstburg,8,11459.0,42.100000,-83.100000
346436,ca,amos,Amos,10,10435.0,48.566667,-78.116667
346438,ca,amqui,Amqui,10,5117.0,48.466667,-67.433333
346458,ca,antigonish,Antigonish,7,5003.0,45.616667,-61.966667
346484,ca,armstrong,Armstrong,2,4275.0,50.450000,-119.183333
346488,ca,arnprior,Arnprior,8,9607.0,45.433333,-76.366667
346497,ca,arthur,Arthur,8,2413.0,43.833333,-80.533333
346500,ca,asbestos,Asbestos,10,7190.0,45.783333,-71.933333
346502,ca,ashcroft,Ashcroft,2,1796.0,50.716667,-121.266667
346509,ca,assiniboia,Assiniboia,11,2320.0,49.616667,-105.983333
346511,ca,athabasca,Athabasca,1,2539.0,54.716667,-113.266667
346518,ca,atikokan,Atikokan,8,3760.0,48.750000,-91.616667
346525,ca,attawapiskat,Attawapiskat,8,1366.0,52.916667,-82.433333
346542,ca,aylmer,Aylmer,8,7527.0,42.783333,-80.983333
346545,ca,ayr,Ayr,8,3841.0,43.283333,-80.450000
346555,ca,bagotville,Bagotville,10,1081.0,48.350000,-70.883333
346556,ca,baie-comeau,Baie-Comeau,10,10435.0,49.216667,-68.150000
346564,ca,baie-saint-paul,Baie-Saint-Paul,10,4512.0,47.433333,-70.500000
346580,ca,banff,Banff,1,7502.0,51.166667,-115.566667
346594,ca,barraute,Barraute,10,1180.0,48.433333,-77.633333
346598,ca,barrhead,Barrhead,1,4430.0,54.116667,-114.400000
346599,ca,barrie,Barrie,8,182070.0,44.383333,-79.700000
346616,ca,bassano,Bassano,1,1388.0,50.783333,-112.466667
346620,ca,bathurst,Bathurst,4,18179.0,47.600000,-65.650000
346632,ca,bay roberts,Bay Roberts,5,13735.0,47.583333,-53.300000
346643,ca,beamsville,Beamsville,8,9556.0,43.166667,-79.466667
346654,ca,beauceville,Beauceville,10,4480.0,46.200000,-70.766667
346659,ca,beaumont,Beaumont,1,7366.0,53.370000,-113.410000
346662,ca,beaupre,Beaupr�,10,5287.0,47.050000,-70.883333
346663,ca,beausejour,Beaus�jour,3,2886.0,50.066667,-96.516667
346676,ca,beaverlodge,Beaverlodge,1,2219.0,55.200000,-119.450000
346679,ca,beaverton,Beaverton,8,3237.0,44.433333,-79.150000
346685,ca,bedford,Bedford,10,2711.0,45.116667,-72.983333
346705,ca,belleville,Belleville,8,65368.0,44.166667,-77.383333
346717,ca,beloeil,Beloeil,10,43016.0,45.566667,-73.200000